spring.application.name=raffy

spring.datasource.url=jdbc:mariadb://localhost/raffy
spring.datasource.username=
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.open-in-view=false

springdoc.api-docs.path=/api
springdoc.api-docs.enabled=true
springdoc.swagger-ui.path=/api-ui
springdoc.swagger-ui.enabled=true

server.error.include-message=always

raffy.jwt.secret=
raffy.jwt.expiration-ms=86400000

raffy.google-books.api-key=

logging.level.org.hibernate.tool.schema.internal.ExceptionHandlerLoggedImpl=ERROR
logging.level.org.hibernate.orm.core=ERROR
logging.level.org.mariadb.jdbc.message.server.ErrorPacket=ERROR
logging.level.org.springframework.security.config.annotation.authentication.configuration.InitializeUserDetailsBeanManagerConfigurer=ERROR